MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/?appName=<app-name>
PORT=3000
BETTER_AUTH_SECRET=<your-long-random-secret>
BETTER_AUTH_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4200
